<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hap Hap Hapciu!</title>
    <link rel="stylesheet" href="/hospital-clown-blog/public/styles/main.css" />
  </head>

  <body>
    <div>
      <img
        src="/hospital-clown-blog/public/images/clown-girl-logo.png"
        width="100px"
      />
      <h1>Hap Hap Hapciu!</h1>
    </div>
    <h2>Welcome to a hospital clown blog.</h2>
  </body>
</html>
